form{ 
 width: 100%; 
 display: block; 
 text-align: center;
 margin-bottom: 1%;  
}
row { 
    width: 100%
}

#button_populate{
display: flex;
flex-wrap: wrap;
margin-bottom: 3%; 
margin-left: 10%;
margin-right: 10%; 
align-items: center;
justify-content: center; 
} 

#gifPopulate{ 
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: center;
position: absolute;
}

#gif_container { 
position: relative; 
height: 360px; 
margin-left: 3%; 
margin-right: 3%; 
border: 3px solid white; 
width: 90%; 
}

.jumbotron{ 
background-image: url(../images/xmenposter.png);
color: white;
background-size: cover; 
height: 325px;
border: 2px solid lightgrey; 
}
 
body{ 
background-color: black;
}

#instructions_container{ 
color: white; 
text-align: center; 
margin-left: 5%; 
margin-right: 5%;   
}

img{ 
padding: 3%;  
}

p { 
color: lightgrey;
text-align: center; 
}